*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", sans-serif;
}
.u-padding-body {
	padding-left: 15rem !important;
	padding-right: 15rem !important;
}

@media (max-width: 1199px){
	html {
		font-size: 56.25%;
	}
	.u-padding-body {
		padding-left: 5rem !important;
		padding-right: 5rem !important;
	}
}

@media (max-width: 767px){
	html {
		font-size: 50%;
	}
	.u-padding-body {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
}

.para {
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: 400;
	color: #555555;
}
.heading-primary {
	color: #232323;
	font-size: 3.4rem;
	line-height: 3.5rem;
	font-weight: 600;
}

/*
#555555
#232323
#DDDDDD
#3A0CA3
#1F096B
*/

.btn {
	display: inline-block;
	text-decoration: none;
	background: #3A0CA3;
	color: #fff;
	border-radius: .5rem;
	transition: all .3s;
}
.btn:hover {
	text-decoration: none;
	background: #1F096B;
	color: #fff;
}

.btn-outline {
	display: inline-block;
	text-decoration: none;
	background: none;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: .5rem;
	color: #3A0CA3;
	transition: all .3s;
}
.btn-outline:hover {
	text-decoration: none;
	background: #3A0CA3;
	color: #fff;
}



.row {
	margin: 0;
	padding: 0;
}
[class*="col-"] {
    padding: 0;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 .25rem #555555;
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
	background: #888888; 
	border-radius: 1rem;
	transition: all .3s;
}

::-webkit-scrollbar-thumb:hover {
	background: #3A0CA3; 
}

/*======================================== */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.header__logo {
	height: 5rem;
}

.logo-link {
	display: inline-block;
	height: 100%;
}

.logo-img {
	height: 100%;
}

.menu-item {
	display: inline-block;
	text-decoration: none;
	padding: .5rem 1rem;
	color: #232323;
	font-size: 1.4rem;
}
.menu-item:hover, .menu-active {
	color: #555555;
}
.nav {
	display: flex;
	align-items: center;
}
.btn-nav-signup {
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
	margin: 0 .5rem 0 1.5rem;
}

.btn-nav-login {
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
}

.menu-acc {
	display: flex;
	align-items: center;
	margin-left: 3rem;
}

.menu-acc__avatar {
	width: 4rem;
	height: 4rem;
	background: #fff;
	border-radius: 50%;
	border: solid;
	border-width: .2rem;
	border-color: #3A0CA3;
	overflow: hidden;
}

.menu-acc__avatar-img {
	width: 100%;
}

.menu-acc__name {
	font-size: 1.8rem;
	font-weight: 700;
	color: #232323;
	margin: 0 0 0 1.5rem;
}

.toggle-menu {
	display: none;
	cursor: pointer;
}
#toggle-menu {
	display: none;
}
@media (max-width: 767px){
	.header {
		position: relative;
	}
	.nav {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #fff;
		flex-direction: column;
		transition: all .3s;
	}
	.menu-item {
		padding: 1rem 1rem;
	}
	.btn-nav-signup {
		margin: .5rem 0 .5rem 0;
	}

	.btn-nav-login {
		margin-bottom: 2rem;
	}
	.toggle-menu {
		display: block;
	}
	.toggle-menu--close {
		font-size: 2rem;
		display: none;
	}
	.toggle-menu--open {
		font-size: 2rem;
		display: block;
	}
	#toggle-menu:checked~.toggle-menu .toggle-menu--open {
		display: none;
	}
	#toggle-menu:checked~.toggle-menu .toggle-menu--close {
		display: block;
	}
	#toggle-menu:checked~.nav {

		visibility: visible;
		opacity: 1;
	}
}

/* =========================================== */
.section-main {
	height: 70rem;
	background-image:
		linear-gradient(to right bottom, rgba(0, 0, 0, .5),rgba(2, 0, 0, .5)),
		url(img/banner.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-main__content {
	text-align: center;
	width: 45%;
}

.section-main__heading {
	color: #fff;
	font-size: 6rem;
	font-weight: 400;
	margin-bottom: 2.2rem;
}

.section-main__text {
	color: #DDDDDD;
	margin-bottom: 4rem;
}
.section-main__btn {
	padding: 1rem 2rem;
	font-size: 1.8rem;
}

@media (max-width: 767px){
	.section-main__content {
		width: 70%;
	}
}

@media (max-width: 575px){
	.section-main__content {
		width: 80%;
	}
}

/*================================ */
.row-3card {
	margin: -10rem -2rem 0 -2rem;
}
.card3-card {
	padding: 4.5rem 2.5rem;
	margin: 0 2rem;
	background: #fff;
	border-radius: 2rem;
	text-align: center;
	transition: all .3s;
}

.card3-card:hover {
	transform: translateY(-1rem);
}

.card3-card__icon {
	padding-bottom: 3rem;
	color: #3A0CA3;
	font-size: 4.8rem;
}

.card3-card__heading {
	padding-bottom: 2.5rem;
}

.card3-card__text {
	padding-bottom: 4rem;
}

.card3-card__link {
	font-size: 2.2rem;
	color: #3A0CA3;
	font-weight: 600;
	transition: all .2s;
}
.card3-card__link:hover {
	color: #1F096B;
}


@media (max-width: 575px) and (min-width: 400px) {
	.card3-card {
		margin: 0 8rem;
	}
}

/* ============================ */

.section-teacher {
	display: flex;
	padding-top: 15rem;
}

.section-teacher__left, .section-teacher__right {
	width: 50%;
}

.section-teacher__img {
	width: 100%;
}

.section-teacher__heading {
	padding: 0 1rem 3rem 0;
}

.section-teacher__text {
	padding: 0 1rem 4rem 0;
}

.section-teacher__btn {
	display: flex;
	align-items: center;
}

.section-teacher__signup {
	padding: 1rem 3rem;
	font-size: 1.8rem;
	margin-right: 2rem;
}

.section-teacher__login {
	padding: 1rem 3rem;
	font-size: 1.8rem;
}

@media (max-width: 767px){
	.section-teacher {
		flex-direction: column;
	}
	.section-teacher__left, .section-teacher__right {
		width: 100%;
	}
	.section-teacher__left {
		padding-bottom: 2rem;
	}
}

/* =================================== */
.section-learner {
	display: flex;
	padding: 15rem 0;
}

.section-learner__left, .section-learner__right {
	width: 50%;
}

.section-learner__right {
	text-align: right;
}

.section-learner__img {
	width: 100%;
}

.section-learner__heading {
	padding: 0 0 3rem 1rem;
}

.section-learner__text {
	padding: 0 0 4rem 1rem;
}

.section-learner__btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.section-learner__signup {
	padding: 1rem 3rem;
	font-size: 1.8rem;
	margin-right: 2rem;
}

.section-learner__login {
	padding: 1rem 3rem;
	font-size: 1.8rem;
}

@media (max-width: 767px){
	.section-learner {
		flex-direction: column-reverse;
	}
	.section-learner__left, .section-learner__right {
		width: 100%;
	}
	.section-learner__right {
		text-align: left;
		padding-bottom: 2rem;
	}
	.section-learner__btn {
		justify-content: flex-start;
	}
}

/* ======================================== */

.section-rate {
	display: flex;
	justify-content: center;
	background-image:
		linear-gradient(to right bottom, rgba(0, 0, 0, .5),rgba(2, 0, 0, .5)),
		url(img/bg-rate.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 53rem;
}

.section-rate__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	padding-top: 8rem;
}

.section-rate__crs {
	width: 100%;
}


.section-rate__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 6rem;
	height: 30rem;
}

.section-rate__heading {
	color: #fff;
	margin-bottom: 8rem;
	display: inline-block;
}

.section-rate__avatar {
	width: 5rem;
	height: 5rem;
	background: #fff;
	border-radius: 50%;
	border: solid;
	border-width: .2rem;
	border-color: #3A0CA3;
	overflow: hidden;
}

.section-rate__avatar-img {
	width: 100%;
}

.section-rate__name {
	text-align: center;
	font-size: 2.2rem;
	font-weight: 500;
	color: #fff;
	margin: 1rem 0 0 .3rem;
}

.section-rate__tag {
	display: inline-block;
	font-size: 1.6rem;
	color: #fff;
	background: #3A0CA3;
	padding: 0 1.5rem;
	border-radius: 10rem;
}

.section-rate__comment {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 5rem;
	color: #DDDDDD;
}

@media (max-width: 767px){
	.section-rate__content {
		width: 70%;
	}
}

@media (max-width: 575px){
	.section-rate__content {
		width: 80%;
	}
}

/* ======================================= */

.footer {
	display: flex;
	padding-top: 5rem;
	padding-bottom: 10rem;
	background: #232323;
}

.footer__col1 {
	width: 45%
}

.footer__col2 {
	width: 30%;
}

.footer__col3 {
	width: 25%;
}

.footer__heading {
	color: #fff;
	padding: 0;
	font-weight: 400;
	margin-bottom: 3rem;
}

.footer__text {
	color: #DDDDDD;
	padding: 0;
	margin-bottom: 1rem;
}

.footer__intro {
	padding-right: 5rem;
}

.footer__link {
	display: block;
	text-decoration: none;
	padding: 0;
	color: #DDDDDD;
	padding: 0;
	margin-bottom: 1rem;
	transition: all .2s;
}

.footer__link:hover {
	color: #DDDDDD;
	opacity: .5;
}

@media (max-width: 575px) {
	.footer {
		flex-direction: column;
		align-items: center;
	}
	.footer__col1 {
		width: 80%;
		margin-bottom: 2rem;
	}

	.footer__col2 {
		width: 80%;
		margin-bottom: 2rem;
	}

	.footer__col3 {
		width: 80%;
		margin-bottom: 2rem;
	}
	.footer__heading {
		margin-bottom: 2rem;
	}
}

/* =========================================================== */

/* =============================== */

.title-background {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28rem;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	font-size: 6.2rem;
	font-weight: 500;
}
.title-courses {
	background-image:
		linear-gradient(to right bottom, rgba(0, 0, 0, .5),rgba(2, 0, 0, .5)),
		url(img/bg-course.jpg);
}

/* ============================================= */

.title-contact {
	background-image:
		linear-gradient(to right bottom, rgba(0, 0, 0, .5),rgba(2, 0, 0, .5)),
		url(img/bg-contact.jpg);
}

.contact {
	display: flex;
	padding-top: 10rem;
	padding-bottom: 8rem;
}

.contact-info {
	width: 50%;

}

.contact-heading-sub {
	margin-bottom: 3.5rem;
}

.contact-heading {
	margin-bottom: 1.5rem;
}

.contact-info__group {
	margin-bottom: 4rem;
}

.contact-info__group--title {
	font-weight: 500;
	margin-bottom: 1rem;
}



/* ======================================== */

.contact-feedback {
	width: 50%;
}

.form-contact {
	display: flex;
	flex-direction: column;
}

.form-contact__textbox {
	height: 5.3rem;
	padding: 0rem 2rem;
	outline: none;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #555555;
	font-size: 1.8rem;
	color: #555555;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.form-contact__textbox:focus {
	border-color: #3A0CA3;
}

.form-contact__radio-group {
	display: flex;
	align-items: center;
	padding: 2rem;
}

.form-contact__radio {
	display: none;
}

.radio-lable {
	display: flex;
	align-items: center;
	margin: 0 2rem;
}

.radio-lable:hover {
	cursor: pointer;
}


.radio-lable__icon {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border-style: solid;
	border-width: .3rem;
	border-color: #3A0CA3;
	margin-right: 1rem;
	position: relative;
}

.radio-lable__icon--add {
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	background: #3A0CA3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s;
}

.form-contact__radio:checked ~ .radio-lable .radio-lable__icon .radio-lable__icon--add{
	opacity: 1;
}

.form-contact__textarea {
	padding: 2rem 2rem;
	outline: none;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #555555;
	font-size: 1.8rem;
	color: #555555;
	border-radius: .5rem;
	margin-bottom: 3rem;
}
.form-contact__textarea:focus {
	border-color: #3A0CA3;
}

.form-contact__submit {
	display: inline-block;
	font-size: 1.8rem;
	padding: .5rem 3rem;
}

@media (max-width: 767px){
	.contact {
		flex-direction: column;
	}
	.contact-info {
		width: 100%;
		margin-bottom: 5rem;
	}
	.contact-feedback {
		width: 100%;
	}
}

/* ======================================================== */
.course-detail-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10rem 0;
}

.course-detail-info__title {
	text-align: center;
	font-size: 4.5rem;
	font-weight: 500;
	color: #232323;
}

.course-detail-info__id {
	font-size: 3.4rem;
	color: #3A0CA3;
}

.course-detail-info__learner-heart {
	display: flex;
	justify-content: center;
	align-items: center;
}

.course-detail-info__learner {
	padding-top: .8rem;
	padding-right: 2rem;
}

.course-detail-info__heart {
	padding-top: .8rem;
	padding-left: 2rem;
}

.course-detail-info__teacher {
	padding-top: .8rem;
}

.course-detail-main {
	display: flex;
	position: relative;
}

.list-lesson__heading {
	padding-bottom: 3rem;
	display: inline-block;
}

.list-lesson {
	width: 30%;
}
.list-lesson__list {
	max-height: 80vh;
	overflow-y: scroll;
}
.lesson-item {
	display: block;
	text-decoration: none;
	font-size: 2rem;
	color: #555555;
	font-weight: 500;
	padding: .8rem 0;
	transition: all .2s;
}

.lesson-item-active, .lesson-item:hover {
	color: #3A0CA3;
	cursor: pointer;
}

.lesson-detail {
	width: 70%;
	margin-left: 2rem;
}

.toggle-list-lesson {
	position: absolute;
	top: -5rem;
	font-size: 3rem;
	margin-right: .5rem;
}
.toggle-list-lesson:hover {
	
	color: #3A0CA3;
	cursor: pointer;
}

#toggle-list-lesson {
	display: none;
}

#toggle-list-lesson:checked~.list-lesson {
	display: none;
}

#toggle-list-lesson:checked~.lesson-detail {
	width: 100%;
	margin-left: 0;
}

@media (max-width: 767px) {
	.list-lesson {
		width: 50%;
		position: absolute;
		background: #fff;
		border-style: solid;
		border-width: .1rem;
		border-color: #555555;
		border-radius: .5rem;
		padding: 1rem 0 0 1rem;
	}
	.lesson-detail {
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 575px) {
	.list-lesson {
		width: 80%;
		position: absolute;
		background: #fff;
		border-style: solid;
		border-width: .1rem;
		border-color: #555555;
		border-radius: .5rem;
		padding: 1rem 0 0 1rem;
	}
	.lesson-detail {
		width: 100%;
	}
}

/* ================================================== */
.search {
	display: flex;
	justify-content: center;
	padding: 5rem 0;
}
.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-input {
	height: 5.3rem;
	width: 35rem;
	padding: 0rem 2rem;
	outline: none;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #555555;
	font-size: 1.8rem;
	color: #555555;
	border-radius: .5rem 0 0 .5rem;
}
.search-input:focus {
	border-color: #3A0CA3;
}

.search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5.5rem;
	height: 5.5rem;
	border: none;
	outline: none;
	border-radius: 0 .5rem .5rem 0;
	color: #fff;
	background: #3A0CA3;
	font-size: 2.5rem;
	transition: all .3s;
}

.search-btn:hover {
	background: #1F096B;
}

.row-card-course {
	margin: 3.5rem -3.5rem;
}

.section-courses__heading {
	padding-top: 6rem;
}

.card-course {
	margin: 3.5rem;
	box-shadow: 0 .3rem .3rem 0rem #aaaaaa;
	transition: all .3s;
}

.card-course:hover {
	transform: translateY(-1rem);
}

.card-course__cover {
	height: 10rem;
	overflow: hidden;
}

.card-course__cover-img {
	width: 100%;
}

.card-course__title {
	text-align: center;
	display: block;
	text-decoration: none;
	transition: all .3s;
}

.card-course__title:hover {
	color: #3A0CA3;
	cursor: pointer;
}

.card-course__content {
	padding: 2rem 4rem;
}

.card-course__learner-heart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: .8rem;
}

.card-course__id {
	padding-top: .8rem;
}
.card-course__teacher {
	padding-top: .8rem;
}

/*=======================================*/

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border-style: solid;
	border-width: .1rem;
	border-radius: .5rem;
	border-color: #555555;
	color: #555555;
	font-size: 2rem;
	width: 3rem;
	height: 3rem;
}

.pagination__btn:hover {
	border-color: #3A0CA3;
	color: #3A0CA3;
}

.pagination__num {
	display: inline-block;
	margin: 0;
	padding: 0 1rem;
	font-size: 3rem;
	color: #555555;
	font-weight: 600;
}

/*===================================*/

.lesson-detail__comment {
	padding: 10rem 0;
}

.type-comment {
	display: flex;
}

.comment-avatar {
	width: 5rem;
	height: 5rem;
	background: #fff;
	border-radius: 50%;
	border: solid;
	border-width: .2rem;
	border-color: #3A0CA3;
	overflow: hidden;
}

.comment-avatar-img {
	width: 100%;
}

.comment-form {
	margin-left: 2rem;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	flex-wrap: nowrap;
}

.comment-form__textarea {
	padding: 2rem 2rem;
	outline: none;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #555555;
	font-size: 1.8rem;
	color: #555555;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.comment-form__textarea:focus {
	border-color: #3A0CA3;
}

@media (max-width: 575px) {
	.type-comment {
		flex-direction: column;
	}
	
	.comment-form__textarea {
		margin-top: 1rem;
	}
	.comment-form {
		margin-left: 0;
		align-items: flex-start;
	}

}

@media (max-width: 499px) {
	.comment-form__textarea {
		width: 300px;
	}
}

@media (max-width: 350px) {
	.comment-form__textarea {
		width: 200px;
	}
}

.comment-content {
	padding: 10rem 0;
}

.comment-item {
	display: flex;
	flex-direction: column;
	padding-bottom: 2.5rem;
}
.comment-item__acc {
	display: flex;
	align-items: center;
}

.comment-item__name-date {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 1.5rem;
}

.comment-name {
	display: flex;
	align-items: center;
}

.comment-name--name {
	font-size: 2.2rem;
	font-weight: 700;
	color: #3A0CA3;
	
}

.comment-name--name--tag {
	display: inline-block;
	font-size: 1.8rem;
	color: #fff;
	background: #3A0CA3;
	padding: 0 1.5rem;
	margin: 0 1.5rem;
	border-radius: 10rem;
}

.comment-date {
	font-size: 1.8rem;
	color: #555555;
	padding-top: .5rem;
}

.comment-item__content {
	padding: .5rem 0 0 7rem;
}
/*===================================*/

.manage-learner-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	border-bottom: .1rem solid #DDDDDD;
}

.manage-learner-item__acc {
	display: flex;
	align-items: center;
}

.manage-learner-item__avatar {
	width: 5rem;
	height: 5rem;
	background: #fff;
	border-radius: 50%;
	border: solid;
	border-width: .2rem;
	border-color: #3A0CA3;
	overflow: hidden;
}

.manage-learner-item__avatar-img {
	width: 100%;
}

.manage-learner-item__name {
	font-size: 2.2rem;
	font-weight: 700;
	color: #232323;
	margin: 0 0 0 1.5rem;
}

.manage-learner-item__status {
	display: flex;
	align-items: center;
}

.manage-learner-item__submitted {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 3rem;
}

.manage-learner-item__submitted--sm {
	font-size: 1.6rem;
	color: #3A0CA3;
	font-weight: 500;
}

.manage-learner-item__submitted--date {
	font-size: 1.6rem;
	color: #555555;
}

.manage-learner-item__not-submited {
	font-size: 1.6rem;
	color: #ff5050;
	font-weight: 500;
	margin-right: 3rem;
}

.manage-learner-item__btn {
	font-size: 1.8rem;
	padding: .4rem 1rem;
}


/*===================================*/

.ex {
	padding: 3rem 0;
}

.ex__heading {
	color: #3A0CA3;
}

.ex__content {
	font-size: 1.8rem;
	margin: 2rem 0;
}

.ex_btn {
	padding: 1rem 2rem;
	font-size: 1.8rem;
}


.lesson-title {
	font-weight: 300;
    color: #4078c0;
    margin-bottom: .6em;
    padding-bottom: .6em;
    border-bottom: 1px solid #eee;
    font-size: 3.5rem;
   
}
.lesson-title > h4 {
    display: block;
    font-size:0.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
}   